html, body{padding: 0; margin: 0; min-height: 100vh;}

body, main, footer, nav, .action-buttons, .action-buttons div, .press-button,
form, #postFeed, #showAllPosts, .extraInfo, nav div, .postDiv{display: flex;}

body, main, form, #showAllPosts, .postDiv{flex-direction: column;}


footer, .action-buttons div, .press-button, .forms, 
#postFeed, .extraInfo, .postDiv{justify-content: center;}

footer, nav, .action-buttons div, .press-button, form, .forms, 
#postFeed, #showAllPosts, .extraInfo, nav div, .postDiv{align-items: center;}

footer, .press-button, #loginButton{background-color: #fff;}

footer nav, footer img{height: 100%;}


nav, .action-buttons{justify-content: space-evenly;}

nav, .action-buttons, .extraInfo, nav div{flex-direction: row;}


.action-buttons div, .press-button{border-radius: 100%} 


.logo, .action-buttons{width: 25rem;}


a, label{font-size: 20px;}

a:hover, .press-button:hover ~ .press-button a, #loginButton:hover, label, #registerButton:hover{font-weight: bold;}

form, #loginButton, #registerButton{border-radius: 1.5rem; box-shadow: 4px 6px 4px #000;}

form h1, a, .postDiv h1{text-align: center;}

form input, label{width: 30rem;}

form input, label, #loginButton, #createPostForm textarea, #editPostForm textarea, 
#editProfileForm textarea{margin-top: 1rem;}

form, #createPostForm, #createPostButton, .editPostButtons, .deletePostButtons, #newPostButton{border: Solid #000;}

p, #loginButton{font-size: 18px;}

.press-button, #loginButton{width: 8rem;}

.press-button:hover, #loginButton:hover, #editPostForm{background-color: #FAD5DE;}

#loginMessage, #registerMessage{display: none; color: #ff0000;}

#loginForm, #registerButton:hover, #createPostForm{background-color: #A6F2FF;}

#showAllPosts, .extraInfo, nav div{height: fit-content;}

#createPostForm, .action-buttons{margin-top: 5rem;}

#editProfileButton, #createPostButton, .editPostButtons, #updateButton,
.deletePostButtons, #newPostButton{
    border-radius: 10rem; 
    background-color: #00aeff;
    color: #fff;
    box-shadow: 4px 5px 4px #000;
    width: fit-content;
}


#editProfileButton:hover, #createPostButton:hover, #newPostButton:hover,
.editPostButtons:hover, #updateButton:hover{color: #000; background-color: #FAD5DE;}



body{
    font-family: monospace; 
    min-height: 100vh;

    background-image: url('../images/skies.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}








header, footer{flex: 0 0 auto;}




/*Starting for header on feed page*/
/*--------------------------------------------------*/
header{height: auto; padding: 2rem 0; border: solid black; background-color: #fff;}

header nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

header a{font-size: 25px;}

.active{color: #00aeff; font-weight: bold;}
/*----------------------------------------------------*/






/*Testing post layout*/
/*----------------------------------------------------*/
#showAllPosts{width: 80vw; padding: 0.5rem 0;}
.extraInfo{width: 90%;}
.postDiv{border: solid #9a9a9a; box-shadow: #000 4px 6px 4px;}
.postDiv:nth-child(odd){background-color: #A6F2FF;}
.postDiv:nth-child(even){background-color: #FAD5DE;}
.postDiv p, .postDiv a{width: 90%; text-align: start;}
.extraInfo p{text-align: center;}
nav div{justify-content: space-between;}
nav input{border: none}
.postCU{color: #9a9a9a;}
/*----------------------------------------------------*/





/*creating profile layout*/
/*----------------------------------------------------*/
#showProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card{
    border: solid black;
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

#bioDisplay, #profileInfo{width: 70%; padding: 1rem; display: flex; align-items: center;}
.profile-card div h2{ width: 100%; text-align: center;}
.profile-card div p{font-size: 18px; text-align: start; width: 90%;}

.banner{
    width: 100%; 
    border-top-left-radius: 2rem; 
    border-top-right-radius: 2rem;
    margin-bottom: 2rem;
}

.avatar{border: Solid black;}

#editProfileButton{font-size: 16px;}

#bioDisplay{flex-direction: column;}

#profileInfo{
    flex-direction: row;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#profileInfo p{text-align: center; margin: 0; width: fit-content;}

.profilePostImage{
    height: 10rem; width: 10rem;
}

#myPosts, #userPosts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    height: auto;
}

.userPosts{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postActions{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
}
/*----------------------------------------------------*/







/*create post page*/
/*------------------------------------------------------*/
#createPostForm textarea, #editPostForm textarea, #editProfileForm textarea{
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: inset 2px 3px 3px #000;
}

#createPostButton, .editPostButtons, .deletePostButtons, #newPostButton{
    height: fit-content;
}

.deletePostButtons{background-color: #ff0000; color: #fff;}
/*------------------------------------------------------*/



/*for the single post page*/
/*------------------------------------------------------*/
#backButton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 7rem;
    padding: 0.2rem;
    line-height: 100%;
    margin-top: 2rem;
}

#backButton i, #backButton p{margin: 0; padding: 0;}

#backButton:hover{color: #00aeff; font-weight: bold;}

#singlePost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#aPost{
    border: solid black;
    height: fit-content;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: #A6F2FF;
    width: 35%;
    padding-bottom: 1rem;
}

#aPost h1{text-align: center;}

#aPost p, #aPost div{width: 90%;}

#aPost img{
    border-top-left-radius: 2rem; 
    border-top-right-radius: 2rem;
    width: 100%;
}

#interactions{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    color: #00aeff; 
    -webkit-text-stroke: 1px #000;
}

#interactions p{margin: 0; padding: 0; width: fit-content}


/*------------------------------------------------------*/







main{flex: 1 1 auto;}

nav{width: 60rem;}


a{
    text-decoration: none; 
    color: #000;
    width: 12rem;
}

a:hover{color: #00aeff;}

.logo{
    height: 20rem;
    width: 20rem;
    margin-top: 2rem; 
    margin-left: 5rem;
}

footer nav{width: 100%;}


.action-buttons{height: fit-content; margin-left: 8rem;}

.press-button{height: 8rem; font-size: 24px; border: solid #567C8D; }

.press-button:hover{color: #A6F2FF; -webkit-text-stroke: 0.5px #000;}

.fade-text{
    position: absolute;
    right: 10rem;
    top: 1rem;
    font-size: 22px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    display: none;
}

.fade-text h1{margin-top: 3rem;}

.second{margin-left: 15rem;}




form{
    width: 35rem;
    height: auto;
    padding: 1.5rem;
}

form input{
    height: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 16px;
    margin-bottom: 1rem;
    box-shadow: inset 2px 3px 3px #000;
}

form a{text-decoration: underline; color:#00aeff;}


#registerForm{background-color: #FAD5DE; margin-top: 2rem;}

label{text-align: left;}

#loginButton, #registerButton, #editProfileButton, 
#createPostButton, #newPostButton{padding: 0.5rem;}

p{margin-top: 0.2rem;}

#followButton{
    border-radius: 2rem;
    background-color: #A6F2FF;
    box-shadow: 4px 5px 4px;
}

#followButton:hover{background-color: #FFF500;font-weight: bold;}

#editPostButton{
    width: fit-content; 
    margin: 0; 
    background-color: #A6F2FF;
    box-shadow: #000 4px 5px 4px;
}

#editPostButton:hover{font-weight: bold;}

#editProfileForm{background-color: #A6F2FF;}


.termsSections{
    height: fit-content;
    border: Solid #000;
    border-radius: 2rem;
    background-color: #A6F2FF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#contactForm{background-color: #A6F2FF;}





















/*Making an amimation for the fade text on index.html*/
@keyframes textFade{0% {opacity: 0;} 100%{opacity: 100;}}

#first{animation-name: textFade; animation-duration: 3s;}
#second{animation-name: textFade; animation-duration: 5s;}
#third{animation-name: textFade; animation-duration: 7s;}
#fourth{animation-name: textFade; animation-duration: 9s;}
#fifth{animation-name: textFade; animation-duration: 11s;}












/*before phone = hidden*/
@media(max-width: 319px){body{display: none;}}

/*phone vertical*/
@media(min-width: 320px){
    .logo, .action-buttons{margin-left: 0;}
    .logo, footer a, .postDiv, .userPosts h2, #newPostButton{margin-top: 1rem;}

    .press-button, footer a, .postDiv p, .postDiv a{font-size: 12px;}

    form, .action-buttons{margin-bottom: 5rem;}

    #loginForm, #registerForm{margin-top: 2rem;}

    form input, label, .postDiv, #createPostForm textarea, #editProfileForm textarea, 
    #editPostForm textarea, .profile-card, .postDiv p{width: 90%;}

    form input, label, form p, form a, #loginButton, #createPostForm textarea, #editPostForm textarea,
    #registerButton, nav input, #createPostButton, #profileInfo p, #bioDisplay p, #followButton,
    #editProfileButton, .editPostButtons, .deletePostButtons, #newPostButton, .postDiv h1{font-size: 14px;}

    #editProfileButton, .editPostButtons, .deletePostButtons, #newPostButton, 
    #followButton, #updateButton{
        padding: 0.1rem 0.3rem;
        border-radius: 0.5rem;
    }
    #loginButton, #registerButton, #createPostButton{width: 5rem;}

    .userPosts img, .userPosts h2, .deletePostButtons{margin-bottom: 0;}

    
    main{justify-content: space-evenly; align-items: center;}

    .logo{height: 10rem; width: 10rem;}

    .action-buttons{width: 80vw;  margin-top: 2rem;}
    .press-button{height: 3.5rem; width: 3.5rem;}

    footer nav{flex-direction: column;}
    footer a{width: fit-content;}
    footer img{height: 3rem; width: 4rem;}

    form{width: 60vw;}
    form h1, nav i{font-size: 25px;}
    

    .postDiv {padding: 0.2rem;}
    .postDiv img{height: 150px; width: 100%;}

    .desktopNav{display: none;}
    nav div{
        border: 1px solid #000; 
        width: 20rem; 
        padding: 0.5rem; 
        border-radius: 10rem;
    }
    nav input{width: 70%;}
    nav div i{font-size: 15px;}

    .postDiv, #profileInfo{margin-bottom: 1rem;}

    header{height: 0.1rem;}

    .profile-card h1{font-size: 20px;}
    .profile-card h2{font-size: 16px;}

    #profileInfo{flex-direction: column;}
    #profileInfo p, .postActions{margin-top: 0.5rem;}
    
    .banner{height: 7rem;}
    .avatar{height: 5rem; width: 5rem;}

    .userPosts img{height: 60%;}
    .postActions{height: 20%;}

    .userPosts, #newPostButton{margin-top: 2rem;}

    #backButton p, #backButton i{font-size: 14px;}
    #backButton{width: 5rem; margin-left: 10%;}
    #aPost{width: 75vw;}
    #aPost{font-size: 18px;}
    #aPost p{font-size: 12px;}

    #editPostForm{margin-top: 2rem;}
    #editPostButton{padding: 0 0.5rem;}
    #editPostForm h1{font-size: 20px;}

    #updateButton, #editProfileForm{margin-top: 2rem;}
    #editProfileForm h1{font-size: 18px;}

    #topHomeButton, #bottomHomeButton{margin-top: 2rem; margin-bottom: 2rem; font-size: 18px;}
    .termsSections{padding: 0.5rem; width: 75%;}
    .termsSections p{width: 90%; font-size: 14px; margin-top: 0.5rem;}
    .termsSections h2{font-size: 16px; margin-top: 1rem; text-align: center;}
    .termsSections h1{font-size: 20px; margin: 0; text-align: center; border-bottom: 2px solid #000;}
}

/*Quick costumization*/
@media(min-width: 500px){
    .postDiv, nav input{width: 80%;}
    
    .postDiv img{height: 200px;}
    .postDiv h1{font-size: 16px;}
    .postDiv p, .postDiv a{font-size: 14px;}
    
    nav div{width: 15rem;}
    .profile-card h1{font-size: 22px;}
    .avatar{width: 7rem; height: 7rem;}
    .banner{height: 10rem;}
    #bioDisplay h2{font-size: 18px;}

    #backButton{margin-left: 25%;}

    #editProfileForm{width: 50%;}
}
@media(min-width: 700px){
    .postDiv{width: 60%;}
    .postDiv img{height: 200px;}

    #aPost{width: 60vw;}
    #aPost img{height: 15rem;}
    #aPost h1{font-size: 22px;}
    #aPost p, #backButton p, #backButton i{font-size: 16px;}
}
@media(min-height: 700px){
    .press-button{font-size: 16px ; height: 5.3rem; width: 5.3rem;}
    footer a{font-size: 14px;}
}


/*Tablet vertical*/
@media(min-width: 768px){
    form input, label, form p, form a, #loginButton, #registerButton, footer a, .press-button, 
    nav div i, nav input, .postDiv p, .postDiv a, #createPostForm textarea, #editPostForm textarea,
    #editProfileForm textarea, #createPostButton, #bioDisplay p, #profileInfo p, .deletePostButtons, 
    .editPostButtons, #followButton, #updateButton{font-size: 18px;}

    form input, form p, label, #createPostForm textarea, #editPostForm textarea, 
    #editProfileForm textarea{width: 75%;}

    .action-buttons, #showAllPosts{margin-top: 3rem;}

    #editProfileButton, #newPostButton, .editPostButtons, .deletePostButtons, #followButton{padding: 0.2rem 0.5rem;}

    #registerButton, #createPostButton{width: 7rem;}

    nav input, .profile-card{width: 80%;}

    nav a, nav input, #bioDisplay h2{font-size: 22px;}

    .logo{height: 15rem; width: 15rem;}

    .fade-text{
        font-size: 14px; 
        right: 0;
        position: relative; 
        text-align: center; 
        display: block;
    }
    .fade-text h1{margin-top: 1.5rem;}
    .second{margin-left: 0;}


    .action-buttons{margin-bottom: 2rem;}
    .press-button{height: 6.3rem; width: 6.3rem;}

    form{width: 50vw;}

    .mobileNav{display: none;}
    .desktopNav{display: flex;}
    nav div{padding: 0.5rem 0.7rem; width: 12rem; margin-right: 1rem;}

    .postDiv{margin-bottom: 3rem; width: 70%;}
    .postDiv h1{font-size: 26px;}
    .postDiv img{height: 250px;}

    .profile-card h1{font-size: 28px;}
    #profileInfo{flex-direction: row;}
    #newPostButton{margin-top: 5rem;}
    #myPosts{margin-top: 2rem;}
    .avatar{height: 10rem; width: 10rem;}
    .banner{height: 15rem;}

    #editPostForm h1, #editProfileForm h1{font-size: 22px;}

    #editProfileForm{width: 40%; margin-top: 5rem;}

    .termsSections{width: 60%;}
    .termsSections p{font-size: 16px;}
    .termsSections h2{font-size: 18px; margin-top: 2rem}
    .termsSections h1{margin-top: 2rem; font-size: 22px;}
}

/*Quick costumization*/
@media(min-height: 800px){.logo{height: 12rem; width: 12rem;}}
@media(min-width: 950px){
    #loginForm, #registerForm{margin-top: 5rem;}
    .postDiv img{height: 350px;}
    .profile-card{width: 65%;}
}
@media(min-width: 1100px){
    form input, label, form p, form a, #loginButton, footer a, #registerButton, 
    #createPostForm textarea, #editPostForm textarea, #createPostButton, #newPostButton, 
    #editProfileButton, #updateButton, #editProfileForm textarea{font-size: 22px;}

    .action-buttons{width: 40vw;}

    form{width: 50vw;}
    form h1{font-size: 35px;}
    form input{padding: 0.3rem 0.6rem;}
    #loginButton, #registerButton, #createPostButton{width: 7rem;}

    .profile-card{width: 60%;}
    .profile-card h2{font-size: 18px}
    #bioDisplay p, #profileInfo p, .deletePostButtons, .editPostButtons, 
    #editProfileButton, #newPostButton{font-size: 16px;}

    .postDiv{width: 60%;}

    #aPost{width: 45vw;}
    #aPost img{height: 20rem;}
    #aPost p, #backButton p, #backButton i{font-size: 18px;}
    #backButton{margin-left: 100%;}

    #editPostForm h1, #editProfileForm h1{font-size: 25px;}
}



/*tablet horisontal*/
@media(min-width: 1280px){
    .action-buttons, .logo{margin-top: 5rem;}

    .fade-text, footer a, nav input{font-size: 20px;}

    .press-button, .postDiv p, .postDiv a{font-size: 22px;}

    main{align-items: start;}

    .logo{margin-left: 10rem; height: 20rem; width: 20rem;}

    .fade-text{
        position: absolute; 
        right: 5rem; 
        top: 7rem; 
        display: block;
        text-align: start;
    }
    .fade-text h1{margin-top: 2.5rem;}
    .second{margin-left: 7rem;}

    .action-buttons{margin-left: 10rem;}
    .press-button{height: 7.7rem; width: 7.7rem;}

    footer nav{flex-direction: row;}

    .postDiv h1{font-size: 30px;}

    .postDiv{margin-bottom: 5rem;}
    .profile-card{width: 55%;}

    #editPostForm{width: 40%;}

    #topHomeButton, #bottomHomeButton{font-size: 20px;}
    .termsSections{width: 50%;}
    .termsSections h1{font-size: 25px;}
    .termsSections h2{font-size: 20px;}
    .termsSections p{font-size: 18px;}
    
}

/*Desktop screens*/
@media(min-width: 1366px){
    .press-button, footer a{font-size: 25px;}

    .fade-text{font-size: 22px;}

    .press-button{height: 8.5rem; width: 8.5rem;}

    form{width: 40vw;}
}
@media(min-width: 1440px){
    .logo{height: 20rem; width: 20rem; margin-top: 2rem;}

    .fade-text{font-size: 22px; top: 1rem;}

    .fade-text h1{margin-top: 3rem;}

    .action-buttons{margin-top: 1rem;}

    .press-button{font-size: 28px; height: 9rem; width: 9rem;}

    .profile-card, .postDiv{width: 50%;}
    .profile-card h1{font-size: 30px;}
    .profile-card h2, #bioDisplay h2{font-size: 20px;}

    #bioDisplay p, #profileInfo p{font-size: 20px;}

    .userPosts{width: 35%;}
    .userPosts img{width: 100%; height: 60%;}

    .banner{height: 20rem;}

    #aPost p, #backButton p, #backButton i{font-size: 20px;}
}

/*Quick costumization*/
@media(min-width: 1700px){
    form input, label, form p, form a, #loginButton, #registerButton,
    #createPostForm textarea, #editPostForm textarea, #createPostButton{font-size: 25px;}

    .second{margin-left: 10rem;} .fade-text{right: 8rem;}

    form h1{font-size: 50px;}

    #registerButton{width: 9rem;}

    #aPost img{height: 25rem;}

    #editPostForm, #editProfileForm{width: 35%;}
    #editPostForm h1, #editProfileForm h1{font-size: 28px;}

    .termsSections{width: 45%;}
}

/*Full HD size desktop*/
@media(min-width: 1920px){
    form input, label, form p, #createPostForm textarea, #editPostForm textarea, 
    #editProfileForm textarea{width: 70%;}
    #createPostForm{width: 35vw;}

    .logo, .second{margin-left: 15rem;}

    .logo{height: 30rem; width: 30rem;}

    .fade-text h1{font-size: 50px;}

    .action-buttons{margin-left: 10rem; margin-top: 2rem;}

    .userPosts{height: 320px;}
    .userPosts img{height: 70%;}

    .postDiv img{height: 450px;}

    #editProfileForm{width: 30%;}
}